%html
  %head
    %title {Title}
    %link{rel: "stylesheet", href: "http://static.tumblr.com/mlgstlq/4HHo6oq6c/theme.css"}
  %body
    %header#header
      .column1of2
        %h1
          %a{href: "{BlogURL}"} {Title}
      .column1of2
        %p
          {Description}
          %br
            %br
              Read this site via
              %a{href: "{RSS}"} RSS
      %br/
      %br/
      %br/
      .main
        {block:Posts}
        {block:Text}
        .column2of2
          %article.text
            %header
              %h2
                {block:IndexPage}
                {Title}
                {/block:IndexPage}
        .column2of2
          .content {Body}
          %footer
            %a{href: "{Permalink}"}
              Posted on {Month} {DayOfMonth}, {Year}</a
        {/block:Text}
        %br/
        %br/
        {block:Quote}
        {block:Source}
        .column2of2
          %article.quote
            %header
              %h2.wayfinder Quote
        .section
          .main
            .column2of2
              %h3.blockquote{:class => "quote-{Length}"}
                {Quote}
            .column2of2
              {block:Source}
              %h3.source --{Source}
              {/block:Source}
              %footer
                %a{href: "{Permalink}"} Posted on {Month} {DayOfMonth}, {Year}
            {/block:Quote}
            {/block:Posts}
