%html
  %head
    %title {Chelsea in Chi}
    %link{rel: "stylesheet", href: "tumblr/theme.css"}
  %body
    %header#header
      %h1
        %a{href: "{chelstartupchi.tumblr.com}"} {Chel Startup Chi}
      %p {Welcome to my tumblr blog} Read this site via
        %a{href: "{RSS}"} RSS
      .main
        {block:Posts}
        {block:Text}
        %article.text
          %header
            %h2
              {block:IndexPage}
              %a{href: "{Permalink}"} {Chel Startup Chi}
              {/block:IndexPage}
              {block:PermalinkPage}
              {Title}
              {/block:PermalinkPage}
          .content {Body}
          %footer
            %p Posted at {12Hour}:{Minutes}{AmPm} {Month} {DayOfMonth}, {Year}
        {/block:Text}
        {block:Quote}
        {block:Source}
        %article.quote
          %header
            %h2.wayfinder Go confidently in the direction of your dreams.
          .section
            .main
              {block:Source}
              %h2.source {Henry Thoreau}:
              {/block:Source}
              %blockquote{class: "quote-{Short}"}
                {Quote}
        {/block:Quote}
        {/block:Posts}
